.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 5px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.walletContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.switchButton {
  padding: 8px 12px;
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.coverButtonContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* For wallet */
[data-tc-connect-button='true'] {
  background-color: var(--tg-theme-button-color);
  border-radius: 10px;
  border: none;
  color: var(--tg-theme-button-text-color);
  padding: 10px 20px;
  font-size: 16px;
}

[data-tc-dropdown-container='true'] {
  overflow-y: auto;
}
