.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.noCourses {
  font-size: large;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: line-through;
  text-align: center;
}
