.textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  color: var(--tg-theme-accent-text-color);
  font-size: large;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.textarea:focus {
  outline: none;
  border: 1px solid var(--tg-theme-accent-text-color);
}
