.videoContainer {
  width: 100%;
  position: relative;
}

.backIcon {
  position: absolute;
  top: 3px;
  left: 25px;
  color: rgb(193, 193, 193);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.notUploaded {
  padding: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--tg-theme-accent-text-color);
}
