.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 2px solid #e9e9e9;
  padding-bottom: 10px;
  gap: 10px;
  width: 100%;
}

.warning {
  color: var(--tg-theme-destructive-text-color);
  background-color: #fbd5d5;
  border: 1px solid var(--tg-theme-destructive-text-color);
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.warning::before {
  content: '❗ ';
}

.checkbox {
  display: flex;
  gap: 20px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.contract {
  color: var(--tg-theme-link-color);
  text-decoration: underline;
}

.descriptionText {
  text-align: left;
  font-size: 16px;
  color: var(--tg-theme-text-color);
  line-height: 1.5;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: var(--tg-theme-accent-color);
  display: flex;
  align-items: center;
  gap: 5px;
}

.toncoin {
  width: 20px;
  height: 20px;
}

.category {
  display: flex;
  gap: 5px;
  font-size: 16px;
  color: var(--tg-theme-text-color);
}

.hint {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: var(--tg-theme-hint-color);
  font-size: 16px;
  font-style: italic;
}

.contractAddress {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: var(--tg-theme-text-color);
}
