.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 2px solid #e9e9e9;
  padding-bottom: 10px;
  gap: 10px;
  width: 100%;
}

.descriptionText {
  text-align: left;
  font-size: 16px;
  color: var(--tg-theme-text-color);
  line-height: 1.5;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: var(--tg-theme-accent-color);
  display: flex;
  align-items: center;
  gap: 5px;
}

.toncoin {
  width: 20px;
  height: 20px;
}

.category {
  display: flex;
  gap: 5px;
  font-size: 16px;
  color: var(--tg-theme-text-color);
}
