.buttonGreen {
  background-color: #5fe7ae;
  border-radius: 8px;
  border: none;
  padding: 5px;
}

.buttonGray {
  background-color: #e6e8ec;
  border-radius: 8px;
  border: none;
  padding: 5px;
}
