.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.button {
  display: flex;
  gap: 5px;
  background-color: var(--tg-theme-button-color);
  border-radius: 10px;
  padding: 10px 20px;
  color: var(--tg-theme-button-text-color);
  font-size: 16px;
  font-weight: 600;
  border: none;
}

.disabled {
  background-color: rgba(204, 204, 204, 0.425);
}

.hint {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--tg-theme-hint-color);
  font-size: 16px;
  font-style: italic;
}
