.container {
  width: 100%;
  display: flex;
  color: black;
}

.backButton {
  cursor: pointer;
  position: absolute;
  left: 10px;
}

.iconLabelContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.labelRight {
  margin-left: auto;
}
