.textForHeader {
  font-size: 20px;
  font-weight: 700;
  color: var(--tg-theme-accent-text-color);
  width: 100%;
}

.text {
  font-size: 16px;
  font-weight: 700;
  width: 100%;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
