.text {
  font-size: 16px;
  font-weight: 400;
}

.textForHeader {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70vw;
  font-size: 20px;
  font-weight: 600;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.paddingLeft {
  padding-left: 5px;
}

.bold {
  font-weight: 600;
}

.bigSize {
  font-size: 18px;
}

.hint {
  color: gray;
  font-size: 14px;
  font-style: italic;
}
