.container {
  position: relative;
}

.cross {
  position: absolute;
  top: 5px;
  right: 35px;
  color: rgb(193, 193, 193);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

@media (orientation: landscape) {
  .container {
    height: 100vh;
  }
}
