html,
body,
#root {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* turn off if need to catch errors */
iframe#webpack-dev-server-client-overlay {
  display: none;
}

[data-tc-connect-button='true'] {
  background-color: var(--tg-theme-button-color) !important;
  border-radius: 10px !important;
  border: none !important;
  padding: 10px 20px !important;
}

[data-tc-dropdown='true'] {
  overflow-y: auto !important;
  transform: translateX(40%) !important;
}

/* Ton connect selectors (node_modules/@tonconnect/ui/dist/tonconnect-ui.min.js)
[data-tc-dropdown-container='true'], 
[data-tc-confirm-modal='true'], 
[data-tc-transaction-canceled-modal='true'],
[data-tc-transaction-sent-modal='true'],
[data-tc-actions-modal-container='true']
  */
