html,
body,
#root {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* turn off if need to catch errors */
iframe#webpack-dev-server-client-overlay {
  display: none;
}

[data-tc-connect-button='true'] {
  background-color: var(--tg-theme-button-color);
  border-radius: 10px;
  border: none;
  color: var(--tg-theme-button-text-color);
  padding: 10px 20px;
  font-size: 16px;
}

[data-tc-dropdown-container='true'] {
  overflow-y: auto;
}
