.container {
  color: var(--tg-theme-destructive-text-color);
  background-color: #fbd5d5;
  border: 4px double var(--tg-theme-destructive-text-color);
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}
